.namespace {
    opacity: 0.7;
}

$primary-text: #dfdfdf;

code[class*="language-"],
pre[class*="language-"] {
    max-width: 100%;
    width: 100%;
    color: $primary-text;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: RootFont, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5;

    tab-size: 4;
    hyphens: none;
}

pre {
    &[class*="language-"] {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        overflow: hidden;
        border-radius: 0.3rem;
    }
    // background
    &[class*="language-"] {
        background: #1e1e1e;
    }
    // Inline background
    :not(&) {
        code[class*="language-"] {
            background: #1e1e1e;
        }
    }
}

.token {
    .language-css &.string,
    .style &.string {
        color: $primary-text;
    }

    &.comment {
        color: #3c8b3c;
    }
    &.prolog,
    &.doctype,
    &.cdata {
        color: slategray;
    }
    &.punctuation {
        color: #6c757d;
    }
    &.property,
    &.symbol,
    &.prefix.deleted {
        color: #f92672;
    }
    &.prefix.inserted {
        color: #3c8b3c;
    }
    &.constant,
    &.keyword,
    &.tag {
        color: #569cd6;
    }
    &.attr-name {
        color: #72acdb;
    }
    &.script,
    &.attr-value {
        color: #e7bba6;
    }
    &.boolean,
    &.number {
        color: #b5cea8;
    }
    &.selector,
    &.string,
    &.char {
        color: #ce9178;
    }
    &.template-string {
        color: #ce7878;
    }
    &.builtin {
        color: #4ec9b0;
    }
    &.operator,
    &.entity,
    &.url,
    &.variable {
        color: $primary-text;
    }
    &.atrule,
    &.class-name {
        color: #4ec9b0;
    }
    &.function {
        color: #e9e393;
    }
    // &.keyword {
    //     color: #c586c0;
    // }

    &.regex,
    &.important {
        color: #fd971f;
    }

    &.important,
    &.bold {
        font-weight: bold;
    }
    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }
}
