@font-face {
    font-family: FiraCode;
    src: url(../../assets/fonts/FiraCode-Regular.woff2); /** ※可以使用 webpck.config > resolve > alias */
}

.appfont {
    font-family: FiraCode;
}

@import "./styles.scss";
