/** ※可以使用 webpck.config > resolve > alias */

@font-face {
    font-family: "My Code";
    src: local(Microsoft JhengHei), local(Noto Sans CJK TC Regular);
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: "My Code";
    src: url("../../assets/fonts/FiraCode-Regular.woff2");
}
